# ASSIGNMENT  OF 30 JAN 2023

In [2]:
# Q.1:

Marks= float(input("Enter the marks obtain :"))

a= Marks
if a >90:
    print("Grade: A")
elif a>80 and a<=90:
    print("Grade: B")
elif a>=60 and a <=80:
    print("Grade: C")
else:
    print("Grade: D")

Enter the marks obtain :90
Grade: B

In [5]:
#2:
Bike_price= float(input("Enter the marks obtain :"))

a= Bike_price
if a >100000:
    print("Road tax : 15%")
if a> 50000 and a<=100000:
    print("Road tax : 10%")
else:
    print("Road tax : 5%")

Enter the marks obtain :99999
Road tax : 10%

In [49]:
#Q3:
print('*** Enter city= 1:Delhi , 2:Agra, 3:Jaipur ***')

city = str(input("enter the Name of the City from the list to know the movement  city: """))
b = city
if b == 'Delhi' or b== "delhi":
    print('Monument: Red Fort')
elif b== 'Agra' or b== "agra":
    print('Monument: Taj Mahal')
elif b== "Jaipur" or b== "jaipur":
    print('Monument: Jal Mahal')
else:  
    print ("Enter City not in the list")

***Enter city= 1:Delhi , 2:Agra, 3:Jaipur***
enter the Name of the City from the list to know the movement  city: 1
Enter City not in the list

In [17]:
#Q4:
number= float(input("enter the number : "))
x=number
y=3
count = 0
while True:
    if x/y >= 10:
        x= x/y
        count +=1
        print(x)
    else:
        break
print("the total no. of time the given number is divisibel ")

print(count)

enter the number : 300
100.0
33.333333333333336
11.111111111111112
the total no. of time the given number is divisibel
3

In [3]:
#Q5
'''while loop is use for making the code to execur till the condition
is True if the condition get False the execution of while loop get stop, 
For example, if we want to ask a user for a number between 1 and 10,
we don't know how many times the user may enter a larger number, 
so we keep asking "while the number is not between 1 and 10'''
#Example
i=0
while i<=20:
    print(i)
    i+=1
    
'''In the above pice of the code we had the condition that run the loop till the value of i become <=20, when the value of i 
become 20 the loop stop itself as the condition get false'''

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

'In the above pice of the code we had the condition that run the loop till the value of i become <=20, when the value of i \nbecome 20 the loop stop itself as the condition get false'

In [124]:
#Q6

i = int(input("value"))
while i <= 4 :
    j = 0
    while  j <= 3 :
        k = 0
        while  k <= 5 :
            print(i*j*k, end=" ")
            k += 1
        print()
        j += 1
    print()
    i += 1

value4
0 0 0 0 0 0
0 4 8 12 16 20
0 8 16 24 32 40
0 12 24 36 48 60

In [1]:
rows = 5
i = 1
while i <= rows:
    j = 1
    while j <= i:
        print((i * 2 - 1), end=" ")
        j = j + 1
    i = i + 1
    print('')

1
3 3
5 5 5
7 7 7 7
9 9 9 9 9

In [2]:
n = int(input('Enter number of rows : '))
 
i = 1
while i <= n :
    j = 1
    while j <= i:
        print("*", end = " ")
        j += 1
    print()
    i += 1

Enter number of rows : 5
*
* *
* * *
* * * *
* * * * *

In [3]:
n = int(input('Enter number of rows : '))
 
i = 1
while i <= n :
    j = n
    while j >= i:
        print("*", end = " ")
        j -= 1
    print()
    i += 1

Enter number of rows : 5
* * * * *
* * * *
* * *
* *
*

In [20]:
#Q7
l=[1,2,3,4,5,6,7,8,9,10]

l1=[]
i=0
while i<1:
    l1.extend(l[::-1])
    i+=1
    print(l1)

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [21]:
# Q8
l=[1,2,3,4,5,6,7,8,9,10]

l1=[]
i=0
while i<1:
    l1.extend(l[::-1])
    i+=1
    print(l1)

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]