# Assignment  02/02/2023

In [4]:
# Q1
'''For loop :
    for loop is use when we want to repeat the block of code for fix number of time for loop is use with the combination of
    iterabel objectlike a list or a range.'''
print('range exampel')
for i in range(10):
    print(i)
print("list Exampel")
l=[1,2,3,4,5,6]
for i in l:
    print(i)

range exampel
0
1
2
3
4
5
6
7
8
9
list Exampel
1
2
3
4
5
6

In [8]:
'''While loop:
       the while loop is use when we want to rub the block of code to run for certain condition when the condition is true
       the block of code will execute till the condition get false . when the condition get false the execution will stop''' 
print("Exampel")

i= 0
while i <=10:
    print(i)
    i+=1

Exampel
0
1
2
3
4
5
6
7
8
9
10

In [154]:
# Q2
print('Exampel of Sum using for loop')
sum=0
n=10
for i in range(1, n+1):
    sum = sum+i
print(sum)

Exampel of Sum using for loop
55

In [153]:
print('Exampel of Product using for loop')
product=1
n=10
for i in range(1, n+1):
    product = product*i 
print(product)

Exampel of Product using for loop
3628800

In [152]:
print("Exampel of Sum using while loop")
n=1
sum= 0
while n<=10:
    
    if n<=10:
        sum= sum + n  
    n+=1
else:
    print ('Sum of th first 10natural number is ')    
print(sum)

Exampel of Sum using while loop
Sum of th first 10natural number is
55

In [151]:
print("Exampel of Sum using while loop")
n=1
product=1 
while n<=10:
    
    if n<=10:
        product= product * n  
    n+=1
else:
    print ('Product of th first 10 natural number is ')    
product

Exampel of Sum using while loop
Product of th first 10 natural number is

3628800

In [127]:
# Q3
unit= int(input("Total unit consume by the user : "))
if unit>=0:
    if unit <=100:
        bill= (unit)*4.5
    elif unit<=200:
        bill= (100*4.5)+ (unit-100)*6
    elif unit<=300:
        bill= (100*4.5)+(200-100)*6 + (unit-100)*10
    elif unit >300:
        bill= (100*4.5)+(200-100)*6 + (300-200)*10+ (unit-300)*20
else:
    print("negative value not accepted")
    
print("the total Bil to Pay:", bill)

Total unit consume by the user : -1
negative value not accepted
the total Bil to Pay: 0.0

In [156]:
#Q4
l=list(range(1,101))
l1=[]
l2=[]
for i  in l:
    l1.append(i*i*i)
for i in l1:
    if i%4==0 or i%5==0:
        l2.append(i)  
l2

[8,
 64,
 125,
 216,
 512,
 1000,
 1728,
 2744,
 3375,
 4096,
 5832,
 8000,
 10648,
 13824,
 15625,
 17576,
 21952,
 27000,
 32768,
 39304,
 42875,
 46656,
 54872,
 64000,
 74088,
 85184,
 91125,
 97336,
 110592,
 125000,
 140608,
 157464,
 166375,
 175616,
 195112,
 216000,
 238328,
 262144,
 274625,
 287496,
 314432,
 343000,
 373248,
 405224,
 421875,
 438976,
 474552,
 512000,
 551368,
 592704,
 614125,
 636056,
 681472,
 729000,
 778688,
 830584,
 857375,
 884736,
 941192,
 1000000]

In [157]:
#Q4
l=list(range(0,101))
l1=[]
l2=[]
while l[0]<=100:
    l[0]+=1
    l1.append(l[0]*l[0]*l[0])
for i in l1:
    if i%4==0 or i%5==0:
        l2.append(i) 
l2

[8,
 64,
 125,
 216,
 512,
 1000,
 1728,
 2744,
 3375,
 4096,
 5832,
 8000,
 10648,
 13824,
 15625,
 17576,
 21952,
 27000,
 32768,
 39304,
 42875,
 46656,
 54872,
 64000,
 74088,
 85184,
 91125,
 97336,
 110592,
 125000,
 140608,
 157464,
 166375,
 175616,
 195112,
 216000,
 238328,
 262144,
 274625,
 287496,
 314432,
 343000,
 373248,
 405224,
 421875,
 438976,
 474552,
 512000,
 551368,
 592704,
 614125,
 636056,
 681472,
 729000,
 778688,
 830584,
 857375,
 884736,
 941192,
 1000000]

In [164]:
#Q5
string= "I want to become a data scientist"

vowels= ['a','e','i','o','u']
count=0
for i in range(len(string)):
    if string[i] in vowels:
        count+=1
print ("total no. of the count:", count)

total no. of the count: 11